@import "component/globalStyles.scss";
@import "component/modalInit";
@import "component/infoUser";
@import "component/header";
@import "component/cartsInfo";
@import "component/carrucel";
@import "component/socialMedia";
@import "component/addForm";
@import "component/logIn";
@import "component/inforTable";
@import "component/pageNumber";
@import "component/progressCircular";
@import "component/searchFilters";
@import "component/conditionalTer";