.arrow {
    display: grid;
    grid-template-columns: 30px 3fr;
    align-items: center;
    justify-content: center;
    height: auto;
    width: 100%;

    .arrow__leth {
        width: 30px;
        height: 30px;
        margin-top: 25px;

        @include movil {
            width: 25px;
            height: 25px;
            margin-bottom: 35px;
        }
    }

    .logo {
        width: 105px;
        height: 95px;
        object-fit: contain;
        display: flex;
        place-self: center;
        margin-right: 27px;

        @include movil {
            width: 95px;
        }
    }

    .container-add {
        display: grid;
        justify-content: center;
        align-items: center;
        margin: 30px;
    }

}