.container-items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column: 2;
    grid-row: 2;

    @include tablet {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        width: 100%;
        height: auto;
        justify-self: center;
        grid-column: 2;
        grid-row: 2;

    }

    @include movil {
        display: grid;
        grid-template-columns: 160px 205px;
        grid-template-rows: 1fr;
        width: 100%;
        height: auto;
        justify-content: center;
    }

    .avion {
        width: 170px;
        height: 170px;
        grid-column: 2;
        grid-row: 2;
        opacity: 0.3;
        place-self: center;

        @include tablet {
            width: 130px;
            height: 130px;
        }

        @include movil {
            display: grid;
            place-self: center;
            width: 110px;
            height: 110px;
        }
    }

    .container__card {
        grid-column: 1;
        grid-row: 2;

        .info__style {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr;
            justify-content: space-between;
            align-items: center;

            @include tablet {
                display: grid;
                grid-template-columns: 165px 25px;
            }

            @include movil {
                grid-template-columns: 150px 30px;
            }

            img {
                width: 30px;
                height: 30px;
                grid-row: 1;
                grid-column: 2;
            }

            p {
                font-family: $fuente-cursiva;
                font-size: 23px;
                grid-column: 1;
                text-align: justify;
                color: $Black;
            }
        }
    }
}