.main-carrucel {
    width: 100%;
    margin-top: 65px;

    @include tablet {
        display: grid;
        justify-content: center;
    }

    .v-carousel {
        height: 410px !important;
    }

    h4 {
        font-family: $fuente-cursiva;
        font-size: 25px;
        margin-bottom: 30px;
        text-align: center;
        color: $Black;
        font-weight: lighter;
    }

    .v-btn--icon.v-btn--density-default {
        display: none;
    }


    .v-carousel__controls {
        display: none;
        margin: 20px;
    }

    .text {
        display: grid;
        text-align: justify;
        position: relative;
        height: 200px;


        .items {
            width: 435px;
            height: 270px;
            padding: 13px;
            background: #FFD1DA;
            box-shadow: 5px 0 5px #FFD1DA, 7px 20px 60px #fff;
            padding: 30px;

            @include movil {
                width: 290px;
                height: 215px;
            }
        }

        p {
            font-family: $fuente-cursiva;
            font-size: 20px;
            color: $Black;
            margin-bottom: 20px;

            @include movil {
                font-size: 16px;
            }
        }

        .img-inf {
            display: flex;
            justify-content: space-around;
            align-items: center;

            .est {
                width: 110px;
                height: 101px;
                object-fit: contain;
            }

            img {
                width: 30px;
                height: 30px;
                object-fit: contain;
            }
        }

    }

    .py-4 {
        margin-top: 65px;
    }
}