.modal-conditional {
    display: grid;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: rgba(198, 202, 224, 0.90);
    position: fixed;
    z-index: 10;

    .modal__container {
        height: 630px !important;
    }

    div {
        width: 500px;
        background-color: $color-1;
    }

    p {
        font-family: $fuente-cursiva;
        color: $Black;
        font-size: 18px;
        text-align: justify;
        width: 465px;
    }

    button {
        font-family: $fuente-cursiva;
        color: $Black;
    }
}