.main {
    grid-column: 2;
    max-width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: .5fr .5fr 1fr 1fr;
    grid-template-rows: 240px 110px 110px;
    justify-content: center;
    align-items: center;

    @include tablet {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 100px 50px 100px 100px;
        width: 100%;
        height: auto;
        grid-column: 2;
        align-items: start;
    }

    @include movil {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 100px 50px 50px 50px;
        width: 100%;
        height: 250px;
        display: grid;
        justify-content: center;
        align-items: start;
        background-color: transparent;
    }

    .fondo {
        width: 100%;
        grid-column: 1 / 7;
        grid-row: 1 / 3;

        .fondo_img {
            width: 75vw;
            height: 350px;
            object-fit: cover;

            @include tablet {
                width: 100%;
                height: 245px;
            }

            @include movil {
                width: 100%;
                height: 190px;
            }
        }

        @include tablet {
            width: 100%;
            object-fit: cover;
        }

        @include movil {
            width: 100%;
            height: 215px;
            object-fit: cover;
        }
    }

    .main__img {
        display: grid;
        justify-content: center;
        align-items: center;
        grid-column: 1 / 3;
        grid-row: 2 / 3;

        @include tablet {
            grid-column: 2/3;
            grid-row: 3 / 4;
            margin-left: 16px;
        }

        @include movil {
            grid-column: 2;
            grid-row: 2 / 3;
        }

        .perfel {
            width: 220px;
            height: 220px;
            border-radius: 50%;

            @include tablet {
                width: 190px;
                height: 190px;
                object-fit: cover;
            }

            @include movil {
                width: 140px;
                height: 140px;
                object-fit: cover;
                border-radius: 50%;
            }
        }
    }

    .main__info {
        display: grid;
        justify-content: center;
        align-items: center;
        width: 200px;
        grid-column: 4;
        grid-row: 1 / 3;

        @include tablet {
            grid-column: 4;
            grid-row: 3;
        }

        @include movil {
            display: grid;
            justify-content: center;
            align-items: center;
            height: auto;
            grid-column: 4;
            grid-row: 2;
        }

        h1 {
            font-family: "Space Grotesk", sans-serif;
            color: #ffffff;
            font-weight: bold;
            margin-bottom: 0;
            text-align: center;
            font-size: 28px;
            width: 219px;
            background-color: rgba(0, 0, 0, 0.5);

            @include tablet {
                width: 255px;
                font-size: 25px;
            }

            @include movil {
                font-size: 20px;
                width: 175px;
            }
        }
    }

    p {
        font-family: $fuente-cursiva;
        color: $Black;
        font-size: 25px;
        grid-column: 3 / 5;
        grid-row: 3;
        display: grid;
        justify-content: flex-end;

        @include tablet {
            font-size: 22px;
            grid-column: 4;
            grid-row: 4;
        }

        @include movil {
            font-size: 18px;
            font-weight: inherit;
            color: $Black;
            grid-column: 4;
            grid-row: 4;
        }
    }
}


// .main {
//     width: 380px;
//     height: auto;
//     display: grid;
//     justify-content: center;
//     align-items: center;
//     margin-bottom: 0;

//     @include tablet {
//         min-width: 480px;
//         max-width: 768px;
//         height: auto;
//     }

//     .fondo {
//         width: 380px;
//         height: 165px;
//         object-fit: cover;
//         position: relative;

//         @include tablet {
//             width: 768px;
//             min-width: 480px;
//             max-width: 768px;
//             width: 100vw;
//             height: 200px;
//             object-fit: cover;
//         }
//     }

//     .main__img {
//         display: grid;
//         justify-content: center;
//         align-items: center;

//         .perfel {
//             width: 160px;
//             height: 160px;
//             object-fit: fill;
//             position: absolute;
//             top: 80px;
//             left: 7px;
//             border-radius: 50%;

//             @include tablet {
//                 width: 190px;
//                 height: 190px;
//                 object-fit: cover;
//                 top: 90px;
//                 left: 22px;
//             }
//         }
//     }

//     .main__info {
//         display: grid;
//         justify-content: center;
//         align-items: center;
//         margin-top: 30px;
//         height: auto;
//         width: 200px;
//         position: relative;

//         h1 {
//             font-family: $fuentes-h1;
//             color: $White;
//             font-weight: bold;
//             margin-bottom: 0;
//             text-align: center;
//             font-size: 22px;
//             top: -132px;
//             right: -141px;
//             position: absolute;
//             background-color: rgba(0, 0, 0, 0.5);

//             @include tablet {
//                 top: -115px;
//                 left: 210px;
//                 width: 234px;
//             }
//         }
//  