.model {
    display: grid;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: rgba(198, 202, 224, 0.90);
    position: fixed;
    z-index: 10;

    .modal__container {
        height: 300px !important;
    }
    
    div {
        width: 410px;
        background-color: $White;
    }

    p {
        font-family: $fuente-cursiva;
        color: $Black;
        font-size: 20px;
        text-align: justify;
    }

    button {
        font-family: $fuente-cursiva;
        color: $Black;
    }
}