.input {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "input1 input2"
        "input3 input4"
        "date date"
        "button ."
    ;
    padding: 15px;

    @include movil {
        display: grid;
        height: 100%;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas:
            "input1 input1"
            "input2 input2"
            "input3 input3"
            "input4 input4"
            "date date"
            "button button";
    }


    .input-search {
        grid-area: input1;
        margin-right: 10px;
    }

    .number-phone {
        grid-area: input2;
    }

    .detail {
        grid-area: input3;
        margin-right: 10px;
    }

    .select-viaje {
        grid-area: input4;
    }

    .date {
        grid-area: date;
    }

    .btn {
        grid-area: button;
        display: grid;
        align-self: center;
        width: 130px;
    }
}