.icon-social {
    width: 100%;
    height: auto;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-column: 2;
    grid-row: 3;

    @include movil {
        margin-top: 15px;
    }

    p {
        font-family: $fuente-cursiva;
        font-size: 25px;
        color: $Black;
        text-align: center;

        @include tablet {
            font-size: 22px;
        }

        @include movil {
            font-size: 18px;
        }
    }

    .container__card {
        display: grid;
        grid-gap: 30px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;

        @include tablet {
            grid-gap: 15px;
        }

        @include movil {
            grid-template-columns: 180px;
            grid-template-rows: 1fr;
            display: grid;
            justify-content: center;
            margin-top: 15px;
            grid-gap: 20px;
        }

        .icon__social {
            display: grid;
            border-radius: 20px;
            background: $color-3;
            box-shadow: 5px 0 5px $color-3,
                7px 20px 60px $White;
            padding: 13px;
            width: 190px;

            img {
                width: 35px;
                height: 35px;
                object-fit: cover;
                display: grid;
            }
        }
    }
}